<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/styles_welcome.css">
</head>
<body class="body-welcome">
  <h1 class="header-welcome">WELCOME TO ANGELINA'S MARVELOUS MAGNIFICENT MAGICAL EXPENSE TRACKER APP!</h1>
  <a class="start" href="">START</a>
  
</body>
</html>